#divID
{
	border: solid;
	border-radius: 20px 20px 0px 0px;
	background: lightblue;
	margin-bottom: 20px;
}
#pID
{
	width: fit-content;
	font-size: 30px;
}
#h1ID
{
	/* background-color: Red; */
	padding-left: 10px;
	padding-right: 10px;
}
#imageID
{	
	max-width: -webkit-fill-available;
}

#post_form
{
}

#textPost
{
	width: 75%;
	/* min-height: 270px; */
	margin-left: 3%;
	margin-top: 20px;
	padding: 10px;
	border: darkslateblue;
	border-radius: 20px;
	max-height: 200px;
}

#files
{margin-left: 30px;margin-top: 8px;}

#postBtn
{width: 120px;position: fixed;bottom: 10px;left: 40%;}

#btnVote
{margin-left: 30px; top: 64%;}

#PollDivID
{
	margin-left: 160px;
	position: absolute;
	top: 64%;
}

.commentName
{
	font-size: 24px;
	margin-left: 10px;
	margin-bottom: 10px;
}

.commentTextArea
{
	width: 95%;
    left: 10px;
    position: relative;
}

.comment{
    border: groove;
    border-radius: 20px;
    font-size: 16px;
    padding: 10px;
    background-color: #82b0bf;
}

.PollTitle
{
	background-color: rgba(0,123,255,.5);
	display: block;
	margin-bottom: 10px;
}

.PollOption
{
	background-color: rgb(0 123 255 / 13%);
	display: block;
	margin-bottom: 10px;
}

.addOptionClass
{
	display: block;
	position: absolute;
	top: 70%;
	margin-left: 30px;
}

.removeOptionClass
{
	display: block;
	position: absolute;
	top: 75%;
	margin-left: 30px;
}

#privacyOption
{
	margin-left: 30px;
}
	
#optDate
{
    max-inline-size: min-content;
    margin-left: 206px;
    position: absolute;
    top: 41px;
}

#optTime
{
    max-inline-size: min-content;
    margin-left: 389px;
    position: absolute;
    top: 42px;
}

.PollOptionDate
{
margin-bottom: 9px;
}

.PollOptionTime
{
margin-bottom: 9px;
}



